<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Login Admin</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="bg"></div>

    <div class="container">
        <div class="card">
            <h1>🔐 Login do Sistema</h1>
            <p class="sub"  >Nome: Admin Senha: 1234</p>

            <form method="POST">
                <input  class="text_block" type="text" name="usuario" placeholder="Usuário" required>
                <input  class="text_block" type="password" name="senha" placeholder="Senha" required>
                <button type="submit">Entrar</button>
                <button id="voltar_button" type="button" onclick="window.location.href='/'">Voltar</button>
            </form>
        </div>
    </div>

</body>
 
<style>
    
</style>


</html>